AUTHENTICATION_METHOD=single-user
DIRECTORY={{ logscale_directory }}
HUMIO_AUDITLOG_DIR={{ logscale_log_directory }}/audit
HUMIO_DEBUGLOG_DIR={{ logscale_log_directory }}/debug
JVM_LOG_DIR={{ logscale_log_directory }}/jvm
HUMIO_PORT=8080
ELASTIC_PORT=9200

# {{ logscale__kafka_servers }}
KAFKA_SERVERS=
EXTERNAL_URL=http://127.0.0.1:8080
PUBLIC_URL=http://127.0.0.1