AUTHENTICATION_METHOD=single-user
DIRECTORY={{ logscale_directory }}
HUMIO_AUDITLOG_DIR={{ logscale_log_directory }}/audit
HUMIO_DEBUGLOG_DIR={{ logscale_log_directory }}/debug
JVM_LOG_DIR={{ logscale_log_directory }}/jvm
HUMIO_PORT=8080
ELASTIC_PORT=9200

KAFKA_SERVERS={% for v in groups["brokers"] %}{{ hostvars[v].ansible_host }}:{{ logscale_kafka_port }}{% if not loop.last %},{% endif %}{% endfor %}

# Ensure there is blanke line due to the jintinja2 template engine above this one
EXTRA_KAFKA_CONFIGS_FILE=/etc/logscale/kafka.properties

EXTERNAL_URL=http://{{ ansible_hostname }}:8080
PUBLIC_URL={{ logscale_public_url}}

{% if logscale_humio_heap_size_mb is defined %}
HUMIO_HEAP_SIZE_MB={{ logscale_humio_heap_size_mb }}
{% endif %}
{% if logscale_zone is defined %}
ZONE={{ logscale_zone }}
{% endif %}

{% if logscale_extra_config is defined %}
{{ logscale_extra_config }}
{% endif %}
